<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Direcciones</span>
                    <button class="btn btn-success float-end" [routerLink]="['/create-address',id]">Nuevo</button>
                    <button routerLink="/list-address" class="btn btn-secondary float-start">Volver</button>
                    <table *ngIf="listAddress.length > 0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Direccion</th>
                                <th scope="col">Municipio</th>
                                <th scope="col">Departamento</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let address of listAddress">

                                <th>{{address.description}}</th>
                                <td>{{address.city.name}}</td>
                                <td>{{address.city.state.name}}</td>
                                <td>
                                    <i [routerLink]="['/edit-address',address.id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i (click)="deleteAddress(address.id)" class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 *ngIf="listAddress.length == 0" style="text-align: center; margin-top: 16px;">No hay registros para mostar</h5>
                </div>
            </div>
        </div>
    </div>
</div>